#front-container {
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs {
    display: flex;
    justify-content: space-between;
}

.form-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .6rem;
    color: #131212;
    font-size: 1.5rem;
}

.form-control input {
    padding: 1rem 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(193, 132, 66, 0.8);
    text-align: center;
}

.form-control input:hover {
    background-color: rgb(231, 204, 164, 0.8);
    cursor: pointer;
}

.action-control {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem 0.5rem;
}